In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-1.0b6-py3-none-any.whl (325 kB)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\goutham-rog\anaconda3\lib\site-packages (from sweetviz) (4.47.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\goutham-rog\anaconda3\lib\site-packages (from sweetviz) (1.5.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\goutham-rog\anaconda3\lib\site-packages (from sweetviz) (1.18.5)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\goutham-rog\anaconda3\lib\site-packages (from sweetviz) (2.11.2)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\goutham-rog\anaconda3\lib\site-packages (from sweetviz) (3.2.2)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-3.0.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\goutham-rog\anaconda3\lib\site-packages (from sweetviz) (1.0.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\goutham-rog\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\goutham-rog\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\goutham-rog\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\goutham-rog\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\goutham-rog\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\goutham-rog\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2020.1)
Requirement already satisfied: six in c:\users\goutham-rog\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-3.0.0 sweetviz-1.0b6

In [1]:
import sweetviz
import pandas as pd

In [2]:
#loading data
df = pd.read_csv(r"C:\\Users\\Goutham-ROG\\Documents\\DS studies\\College\\1st sem\\Intro to ML (IML -3.0)\\EDA + DV\\attrition.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,DistanceFromHome
0,41,1,Travel_Rarely,Sales,Life Sciences,2,Female,3,2,4,Single,5993,Yes,8,1,6,4,0,5,1
1,49,0,Travel_Frequently,Research & Development,Life Sciences,3,Male,2,2,2,Married,5130,No,10,3,10,7,1,7,8
2,37,1,Travel_Rarely,Research & Development,Other,4,Male,2,1,3,Single,2090,Yes,7,3,0,0,0,0,2
3,33,0,Travel_Frequently,Research & Development,Life Sciences,4,Female,3,1,3,Married,2909,Yes,8,3,8,7,3,0,3
4,27,0,Travel_Rarely,Research & Development,Medical,1,Male,3,1,2,Married,3468,No,6,3,2,2,2,2,2

In [4]:
report = sweetviz.analyze([df,"data"], target_feat= "Attrition")

:FEATURES DONE:                    |█████████████████████| [100%]   00:11  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [6]:
report.show_html("Report.html")

Report Report.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.