## 1-NN

In [16]:
data = {'X': [1,2,4,7,12], 'Y':[11,15,21,30,34]}
import numpy as np
import pandas as pd
data = pd.DataFrame(data)
data

    X   Y
0   1  11
1   2  15
2   4  21
3   7  30
4  12  34

In [2]:
x = 8

for i in 1 to n do
    di = distance(x, Xi)
    
Return yi for which di is min

In [3]:
dist = []

for i in range(0, len(data)):
    dist.append(abs(x - data.X[i]))
    
index = dist.index(min(dist))
data.Y[index]

30

In [4]:
min_dist = 9999999999999999999

for i in range(0,len(data)):
    d = abs(x - data.X[i])
    
    #Find the minimum distance
    if d < min_dist:
        min_dist = d
        index = i
        
#Return yi for which di is minimum
#We have found that di is min for i = 3 -> therefore we will return y3

predicted_y = data.Y[index]
print(predicted_y)

30

In [5]:
min_dist

1

In [6]:
index

3

INTRODUCTION TO STATISTICAL LEARNING (ISLR)

Extend this 1NN algorithm to 2NN algorithm...

In [10]:
#2NN
x = 5#test example i need to predict y for x =5

In [5]:
data

    X   Y
0   1  11
1   2  15
2   4  21
3   7  30
4  12  34

In [22]:
#2nn
dist = []

for i in range(0, len(data)):
    dist.append(abs(x - data.X[i]))
d = dist.copy()    
dist.sort()


k = 2 #2NN

index =[]
for i in range(0,k):
    index.append(d.index(dist[i]))

print("X:",d)
print(index)

pred_y = np.mean(data.Y[index])
print(pred_y)

X: [4, 3, 1, 2, 7]
[2, 3]
25.5

In [32]:
#generalised knn
#one x , one y -> knn
def KNN_fn(df, x,k):
    dist = []

    for i in range(0, len(df)):
        dist.append(abs(x - df.X[i]))
    d = dist.copy()    
    dist.sort()

    index =[]
    for i in range(0,k):
        indx = (d.index(dist[i]))
        index.append(indx)
        d[indx]= -1 #this cant be a possible distance, this handles the tie
    
    print("X:",d)
    print(index)

    pred_y = np.mean(df.Y[index])
    return (pred_y)

In [33]:
KNN_fn(df = data, x = 5 , k = 1)

X: [4, 3, -1, 2, 7]
[2]

21.0

In [34]:
data2 = {'X1': [1,2,4,7,12],'X2': [5,4,3,2,1],'Y':[11,15,21,30,34]}

data2=pd.DataFrame(data2)
data2

   X1  X2   Y
0   1   5  11
1   2   4  15
2   4   3  21
3   7   2  30
4  12   1  34

In [35]:
test = np.array([2,3])

In [40]:
#Euclidean dist

p = np.array([2,2])
q = np.array([4,5])

np.sqrt((p[0]-q[0])**2 + (p[1]-q[1])**2)

3.605551275463989

In [41]:
p = np.array([2,3,3])
q = np.array([4,5,2])

np.sqrt((p[0]-q[0])**2 + (p[1]-q[1])**2 + (p[2]-q[2])**2)

3.0

In [39]:
ed = 0
for i in range(len(p)):
    ed = ed + (p[i]-q[i])**2
np.sqrt(ed)

3.0

In [42]:
def euclidean(p,q):
    ed = 0
    for i in range(len(p)):
        ed = ed + (p[i]-q[i])**2
    
    return (np.sqrt(ed))

In [43]:
euclidean(np.array([2,3,3]),np.array([4,5,2]))

3.0

In [45]:
print(data2)
print("\n")
print(test)

   X1  X2   Y
0   1   5  11
1   2   4  15
2   4   3  21
3   7   2  30
4  12   1  34


[2 3]

In [47]:
dist = []

for i in range(len(data2)):
    dist.append(euclidean(test,data2.iloc[i,[0,1]]))

print(dist)
#this gives distance btwn every observation in the dataset

[2.23606797749979, 1.0, 2.0, 5.0990195135927845, 10.198039027185569]

In [55]:
#2xs - 1y
def KNN_fn_2(df, x,k=1):
    dist = []
    
    
    for i in range(len(df)):
        dist.append(euclidean(test,df.iloc[i,[0,1]]))
    d = dist.copy()    
    dist.sort()

    index =[]
    for i in range(0,k):
        indx = (d.index(dist[i]))
        index.append(indx)
        d[indx]= -1 #this cant be a possible distance, this handles the tie
        
    print("X:",d)

    pred_y = np.mean(df.iloc[index,2])
    return (pred_y)

In [57]:
KNN_fn_2(data2, test, k=2)

X: [2.23606797749979, -1, -1, 5.0990195135927845, 10.198039027185569]
[1, 2]

18.0